body.dark {
  background-color: #121212;
  color: #f1f1f1;
}
body.dark .character-card {
  background-color: #1e1e1e;
  color: #f1f1f1;
  border: 1px solid #333;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

body.dark .footer-clock{
  color: white;
}
body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}
